footer {
    background-color: white;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin-top: 10px;
    line-height: 65px;
    border-top: 1px solid #CCCCCC;
}
